<?xml version="1.0" encoding="UTF-8"?>
<!--Team 3637 Scouting App - An application for data collection/analytics at FIRST competitions
    Copyright (C) 2016  Team 3637

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"       
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context-3.0.xsd               
               http://www.springframework.org/schema/jdbc
               http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd">

    <context:component-scan base-package="com.team3637.bluealliance"/>
    <bean id="blueAllianceRestTemplate" class="org.springframework.web.client.RestTemplate" />
        
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/scoutingtags?noAccessToProcedureBodies=true"/>
        <property name="username" value="team3637"/>
        <property name="password" value="turing"/>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="100000000"/>
    </bean>

    <bean id="scheduleService" class="com.team3637.service.ScheduleServiceMySQLImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="matchService" class="com.team3637.service.MatchServiceMySQLImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="matchTagService" class="com.team3637.service.MatchTagServiceMySQLImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>    

    <bean id="teamsService" class="com.team3637.service.TeamServiceMySQLImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

  <bean id="awardDaoImpl" class="com.team3637.bluealliance.api.dataaccess.AwardsDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
     <bean id="teamDaoImpl" class="com.team3637.bluealliance.api.dataaccess.TeamDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="tagsService" class="com.team3637.service.TagServiceMySQLImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="awardsDao" class="com.team3637.service.AwardsDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    

        <!-- FreeMarker configuration -->
    <bean id="freemarkerConfig"
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPaths">
            <list>
                <value>classpath:modules</value>
                <value>classpath:org/springframework/web/servlet/view/freemarker</value>
                <value>classpath:com/team3637/view</value>
            </list>
        </property>
        <property name="freemarkerSettings">
            <props>
                <prop key="datetime_format">MM/dd/yyyy hh:mm a</prop>
                <prop key="date_format">MM/dd/yyyy</prop>
                <prop key="number_format">#</prop>
                <prop key="whitespace_stripping">true</prop>
            </props>
        </property>
        <property name="freemarkerVariables">
            <map>
                <entry key="xml_escape" value-ref="fmXmlEscape" />
                <entry key="html_escape" value-ref="fmHtmlEscape" />
            </map>
        </property>
    </bean>
    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
    <bean id="fmHtmlEscape" class="freemarker.template.utility.HtmlEscape" />

    <bean id="htmlViewResolver"
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true" />
        <property name="prefix" value="" />
        <property name="suffix" value=".ftl" />
        <property name="order" value="99" />
        <!-- if you want to use the Spring FreeMarker macros, set this property 
            to true -->
        <property name="exposeSpringMacroHelpers" value="true" />
    </bean>
    

</beans>